<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="index.js"></script>

</head>

<body>
<div class="container">
    <h1>Rock, Paper, Scissors</h1>
    <hr>
    <h2>Let's play!</h2>
    <br>
    <div class="row">
        <div class="col">
            <form id="gameForm" role="form">
                <button type="submit" class="btn btn-primary">Play round</button>
            </form>
            <br>
            <form id="statsForm" role="form">
                <button type="submit" class="btn btn-primary">Restart game</button>
            </form>
            <br>
            <table class="table" id="statsTable">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Rounds played</th>
                    <td id="roundsPlayed">0</td>
                </tr>
                <tr>
                    <th scope="row">Player one wins</th>
                    <td id="p1Wins">0</td>
                </tr>
                <tr>
                    <th scope="row">Player two wins</th>
                    <td id="p2Wins">0</td>
                </tr>
                <tr>
                    <th scope="row">Draws</th>
                    <td id="draws">0</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table" id="gameTable">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Player one's play</th>
                    <th scope="col">Player two's play</th>
                    <th scope="col">Result</th>
                </tr>
                </thead>
                <tbody id="roundsTableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>